<div class="profile-box">
  <div class="flex flex-row gap-2 items-center">
    <app-profile-picture
      [filename]="userProfile().profile_picture_filename"
      [isNsfw]="userProfile().profile_picture_is_nsfw"
      [processingStatus]="userService.profilePictureStatus()"
    />
    <span class="name"
      >{{ this.userProfile().first_name }}, {{ this.userProfile().last_name }}</span
    >
  </div>
  <div class="profile-info">
    <pre><b>Age:</b> {{ this.userProfile().age }}
<b>Gender:</b> {{ this.userProfile().gender }}
<b>Country of Origin:</b> {{ countryName(this.userProfile().country_of_origin) }}
<b>Place of Residence:</b> {{ this.userProfile().place_of_residence }}
@if (this.userProfile().description) {<b>Description:</b> {{ this.userProfile().description }}
}</pre>
    @if (this.isAdmin()) {
      <hr class="divider" />
      <pre><b>Created at:</b> {{ this.userProfile().created_at }}
<b>Updated at:</b> {{ this.userProfile().updated_at }}
<b>Profile Picture Classification:</b> {{ this.userProfile().profile_picture_classification || 'N/A' }}
<b>Profile Picture NSFW: </b>{{ this.userProfile().profile_picture_is_nsfw !== undefined ? (this.userProfile().profile_picture_is_nsfw ? 'Yes' : 'No') : 'N/A' }}</pre>
    }
  </div>
</div>
