<div class="nav-bar nav-links">
  @if (this.authService.isLoggedIn()) {
    <a
      routerLink="/"
      class="nav-link"
      routerLinkActive="nav-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="/profile-editor" class="nav-link" routerLinkActive="nav-link-active"
      >Edit Profile</a
    >
  }
  @if (this.authService.isAdmin()) {
    <a routerLink="/admin-dashboard" class="nav-link" routerLinkActive="nav-link-active"
      >Admin Dashboard</a
    >
  }
</div>
